name: CDash

on:
  pull_request_target:
    types:
      - opened

jobs:
  pre-checks:
        runs-on: ubuntu-latest
        permissions:
          pull-requests: write
        steps:
        - name: Post CDash URLs
          uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2.8.2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            message-id: cdash
            message: |
              [CDash for autotester results](https://sems-cdash-son.sandia.gov/cdash/index.php?project=Trilinos&display=project&filtercount=2&showfilters=1&filtercombine=and&field1=buildname&compare1=65&value1=PR-${{ github.event.number }}&field2=buildstarttime&compare2=84&value2=now) [Currently only accessible from Sandia networks]

              A member of the [Pretest-Inspectors team](https://github.com/orgs/trilinos/teams/pretest-inspectors) needs to apply the label "AT: PRE-TEST INSPECTED" before the autotester can run.
              PRs by members of the [Pretest-Inspectors team](https://github.com/orgs/trilinos/teams/pretest-inspectors) will get tested directly without needing to be labeled.

              All members of the [Trilinos organization](https://github.com/orgs/trilinos/people) can approve and merge PRs that have passed testing.
