# The MueLu tutorial is hosted from
# https://github.com/muelu/muelu.github.io
#
# This workflow checks the relevant files in MueLu have changed and
# triggers a rebuild of the tutorial.

name: MueLu tutorial
on:
  workflow_dispatch:
  push:
    branches:
      - develop

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            tutorial:
            - 'packages/muelu/doc/Tutorial/**'
            - 'packages/muelu/test/tutorial/**'
        
      - name: Dispatch repository_dispatch event
        if: steps.changes.outputs.tutorial == 'true'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.MUELU_REPO_ACCESS_TOKEN }} # A PAT with 'repo' scope
          script: |
            await github.rest.repos.createDispatchEvent({
              owner: "muelu",
              repo: "muelu.github.io", 
              event_type: "build", 
              client_payload: {}
            });
